extends layout.pug

block content 
  ul 
    li: a(href="/")
    li: a(href="/create") 
    li: a(href="/create-interesting") 

  table
    h2 Existing Users
      tr
      th id
      th First Name
      th Last Name
      th Email
      th Age
      th Favorite Beatle
      th Likes Ice Cream
    tbody
      td 
      td 
      td 
      td 
      td 
      td 
      td 